[Unit]
Description=SimplePiStats
After=network.target

[Service]
ExecStart=python SimplePiStats.py
WorkingDirectory=/path/to/file
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60
User=user

[Install]
WantedBy=multi-user.target