[Unit]
Description=SimplePiStats
After=network.target

[Service]
ExecStart=/path/to/file/venv/bin/python3 SimplePiStats.py
WorkingDirectory=/path/to/file
StandardOutput=inherit
StandardError=inherit
Restart=always
User=user

[Install]
WantedBy=multi-user.target