:root {
    font-family: verdana, roboto;
    padding: 10px;
}

.centered_div {
    display: flex;
    justify-content: center;
}

.titleElement {
    margin-right: 20px;
    display: inline-block;
}

.data {
    color: white;
    width: 25%;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    height: fit-content;
    display: block;
    h1 {
        font-size: 2vw;
        margin-top: 20px;
    }
}

.dataHeadingImage {
    vertical-align: middle;
    margin-left: 20px;
    width: 128px;
}

.heading {
    text-align: center;
}

.innerContainer {
    background-color: rgba(1, 1, 1, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

#rebootClock {
    width: fit-content;
    padding: 20px;
    text-align: center;
}

#runCommand > button {
    margin: 10px
}

#driveGrid {
    display: flex;
    justify-content: center;
}

.bootTime {
    display: flex;
}

.rebootTimeNum {
    margin: 0;
    width: 70px;
    text-align: center;
    font-size: 1.4vw;
}

.rebootTimeWord {
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.numbers {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin-right: 15px;
}

.service {
    margin-bottom: 50px;
    padding: 20px;
}

#services, #docker_containers {
    min-width: 464.8px;
    p {
        margin: 0;
        display: inline;
        text-align: left;
    }
}

.group_title_icon {
    display: inline;
    vertical-align: middle;
    height: 60px;
    margin-right: 20px;
}

.service_icon {
    height: 30px;
    float: left;
    margin-right: 20px;
}

a {
    color: currentColor;
}

*:not(a) {
    cursor: default;
}

#settings_button {
    height: 35px;
    width: 80px;
}

#settings {
    display: none;
}

.dimBackground {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    overflow: hidden;
    left: 0;
}

.settings_panel {
    display: inline;
    width: 350px;
    background-color: rgb(66, 71, 74);
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 25px;
    padding: 50px;
    color: white
}

#edit_config {
    display: none;
}

#extDisks {
    min-width: 250px;
    text-align: center;
}

.driveDiv {
    width: fit-content;
    height: fit-content;
}

.driveHeading {
    text-align: center;
}

.driveTitle {
    margin-bottom: 10px;
}

.driveData {
    margin-bottom: 50px;
}

.setting-block {
    margin: 10px;
}

#close_button {
    float: right;
}

.emoji {
    display: block;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

.serverTimeBlock {
    display: inline-block;
    width: fit-content;
    vertical-align: top;
}

#serverTimeDiv {
    display: inline
}

.speedTest {
    display: inline;
}

.speedTestData{
    display: inline-block;

}

#ping, #upload, #download {
    width: 150px;
    text-align: center;
}

.speedTestTitle {
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}

.bw {
    filter: grayscale();
}


@media only screen and (max-width: 767px) {
    .centered_div {
        display: block;
    }
    .data {
        width: 85%;
        h1 {
            font-size: 5vw;
        }
    }
    #rebootClock {
        width: inherit !important;
        padding: 20px;
    }
    .service {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #services, #docker_containers {
        width: 85%;
        min-width: initial;
    }
    #serviceReboot {
        font-size: 12px;
        display: inline-block;
    }
    .settings_panel {
        width: 50%;
        left: 14%;
        top: 8%;
    }
    #extDisks {
        width: inherit !important;
    }
    .emoji {
        margin-top: -35px;
    }
    .bootTime {
        .rebootTimeNum {
            font-size: 6vw;
        }
        .rebootTimeWord {
            font-size: 5vw;
        }
    }
    #driveGrid {
        display: block;
    }
    .driveDiv {
        width: 87%;
    }
    .speedTestData {
        #download, #upload, #ping {
            width: fit-content;
        }
    }
}
